# Importing Datasets

In [3]:
import pandas as pd
csvLoc = "C:\\Users\\sando\\Downloads\\villagers.csv"
villagerDf = pd.read_csv(csvLoc)
villagerDf.head(10)

C:\Users\sando\Downloads\villagers.csv

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
0,2,admiral,Admiral,male,bird,1-27,cranky,Steep Hill,aye aye,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
1,3,agent-s,Agent S,female,squirrel,7-2,peppy,DJ K.K.,sidekick,villager-agent-s,https://villagerdb.com/images/villagers/thumb/...
2,4,agnes,Agnes,female,pig,4-21,uchi,K.K. House,snuffle,villager-agnes,https://villagerdb.com/images/villagers/thumb/...
3,6,al,Al,male,gorilla,10-18,lazy,Steep Hill,Ayyeeee,villager-al,https://villagerdb.com/images/villagers/thumb/...
4,7,alfonso,Alfonso,male,alligator,6-9,lazy,Forest Life,it'sa me,villager-alfonso,https://villagerdb.com/images/villagers/thumb/...
5,8,alice,Alice,female,koala,8-19,normal,Surfin' K.K.,guvnor,villager-alice,https://villagerdb.com/images/villagers/thumb/...
6,9,alli,Alli,female,alligator,11-8,snooty,K.K. Chorale,graaagh,villager-alli,https://villagerdb.com/images/villagers/thumb/...
7,10,amelia,Amelia,female,eagle,11-19,snooty,K.K. Condor,eaglet,villager-amelia,https://villagerdb.com/images/villagers/thumb/...
8,11,anabelle,Anabelle,female,anteater,2-16,peppy,Aloha K.K.,snorty,villager-anabelle,https://villagerdb.com/images/villagers/thumb/...
9,13,anchovy,Anchovy,male,bird,3-4,lazy,K.K. Ragtime,chuurp,villager-anchovy,https://villagerdb.com/images/villagers/thumb/...

In [4]:
villagerDf.tail(10)

,row_n,id,name,gender,species,birthday,personality,song,phrase,full_id,url
381,470,wart-jr,Wart Jr.,male,frog,8-21,cranky,To the Edge,grr-ribbit,villager-wart-jr,https://villagerdb.com/images/villagers/thumb/...
382,471,weber,Weber,male,duck,6-30,lazy,K.K. Fusion,quaa,villager-weber,https://villagerdb.com/images/villagers/thumb/...
383,472,wendy,Wendy,female,sheep,8-15,peppy,K.K. Bossa,lambkins,villager-wendy,https://villagerdb.com/images/villagers/thumb/...
384,473,whitney,Whitney,female,wolf,9-17,snooty,Lucky K.K.,snappy,villager-whitney,https://villagerdb.com/images/villagers/thumb/...
385,474,willow,Willow,female,sheep,11-26,snooty,K.K. Etude,bo peep,villager-willow,https://villagerdb.com/images/villagers/thumb/...
386,475,winnie,Winnie,female,horse,1-31,peppy,My Place,hay-OK,villager-winnie,https://villagerdb.com/images/villagers/thumb/...
387,477,wolfgang,Wolfgang,male,wolf,11-25,cranky,K.K. Song,snarrrl,villager-wolfgang,https://villagerdb.com/images/villagers/thumb/...
388,480,yuka,Yuka,female,koala,7-20,snooty,Soulful K.K.,tsk tsk,villager-yuka,https://villagerdb.com/images/villagers/thumb/...
389,481,zell,Zell,male,deer,6-7,smug,K.K. D&B,pronk,villager-zell,https://villagerdb.com/images/villagers/thumb/...
390,483,zucker,Zucker,male,octopus,3-8,lazy,Spring Blossoms,bloop,villager-zucker,https://villagerdb.com/images/villagers/thumb/...

In [5]:
itemLoc = "C:\\Users\\sando\\Downloads\\items.csv"
itemDf = pd.read_csv(itemLoc)
itemDf.head(10)

,num_id,id,name,category,orderable,sell_value,sell_currency,buy_value,buy_currency,sources,customizable,recipe,recipe_id,games_id,id_full,image_url
0,12,3d-glasses,3D Glasses,Accessories,NaN,122.0,bells,490.0,bells,NaN,NaN,NaN,NaN,nh,item-3d-glasses,https://villagerdb.com/images/items/full/3d-gl...
1,14,a-tee,A Tee,Tops,NaN,140.0,bells,560.0,bells,NaN,NaN,NaN,NaN,nh,item-a-tee,https://villagerdb.com/images/items/full/a-tee...
2,17,abstract-wall,Abstract Wall,Wallpaper,True,390.0,bells,1560.0,bells,Nook's Cranny,NaN,NaN,NaN,nh,NaN,NaN
3,19,academy-uniform,Academy Uniform,Dresses,NaN,520.0,bells,2080.0,bells,NaN,NaN,NaN,NaN,nh,item-academy-uniform,https://villagerdb.com/images/items/full/acade...
4,20,acanthostega,Acanthostega,Fossils,False,2000.0,bells,NaN,NaN,Underground (dig spot),NaN,NaN,NaN,nh,item-acanthostega,https://villagerdb.com/images/items/thumb/acan...
5,21,accessories-stand,Accessories Stand,Furniture,True,375.0,bells,1500.0,bells,Nook's Cranny,False,NaN,NaN,nh,item-accessories-stand,https://villagerdb.com/images/items/thumb/acce...
6,23,acid-washed-jacket,Acid-washed Jacket,Tops,True,420.0,bells,1680.0,bells,Able Sisters,NaN,NaN,NaN,nh,item-acid-washed-jacket,https://villagerdb.com/images/items/full/acid-...
7,24,acid-washed-jeans,Acid-washed Jeans,Bottoms,True,330.0,bells,1320.0,bells,Able Sisters,NaN,NaN,NaN,nh,item-acid-washed-jeans,https://villagerdb.com/images/items/full/acid-...
8,26,acnh-nintendo-switch,Acnh Nintendo Switch,Furniture,True,8990.0,bells,35960.0,bells,Receive in mail if playing on ACNH Switch,False,NaN,NaN,nh,item-acnh-nintendo-switch,https://villagerdb.com/images/items/thumb/acnh...
9,26,acnh-nintendo-switch,Acnh Nintendo Switch,Furniture,True,8990.0,bells,35960.0,bells,Nook Shopping,False,NaN,NaN,nh,item-acnh-nintendo-switch,https://villagerdb.com/images/items/thumb/acnh...

In [8]:
savePath = "C:\\Users\\sando\\Documents\\Python_Data_Science\\Datasets\\items.csv"
villagerSavePath = "C:\\Users\\sando\\Documents\\Python_Data_Science\\Datasets\\villagers.csv"
itemDf.to_csv(savePath)
villagerDf.to_csv(villagerSavePath)

# Show Datafram datatypes

In [9]:
villagerDf.dtypes

row_n           int64
id             object
name           object
gender         object
species        object
birthday       object
personality    object
song           object
phrase         object
full_id        object
url            object
dtype: object

In [10]:
itemDf.dtypes

num_id             int64
id                object
name              object
category          object
orderable         object
sell_value       float64
sell_currency     object
buy_value        float64
buy_currency      object
sources           object
customizable      object
recipe           float64
recipe_id         object
games_id          object
id_full           object
image_url         object
dtype: object

# Statistical Analysis

In [11]:
villagerDf.describe()
#row_n is just the row index

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [12]:
itemDf.describe()

            num_id     sell_value     buy_value      recipe
count  4565.000000    4529.000000  3.551000e+03  588.000000
mean   3661.618839    2261.378229  6.959650e+03    4.710884
std    2187.950090   11313.225932  3.432609e+04    6.494507
min      12.000000       5.000000  4.000000e+01    1.000000
25%    1722.000000     240.000000  8.700000e+02    2.000000
50%    3569.000000     390.000000  1.300000e+03    3.000000
75%    5607.000000    1000.000000  2.700000e+03    6.000000
max    7443.000000  300000.000000  1.200000e+06   90.000000

In [13]:
itemDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4565 entries, 0 to 4564
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   num_id         4565 non-null   int64
 1   id             4565 non-null   object
 2   name           4565 non-null   object
 3   category       4565 non-null   object
 4   orderable      1790 non-null   object
 5   sell_value     4529 non-null   float64
 6   sell_currency  4529 non-null   object
 7   buy_value      3551 non-null   float64
 8   buy_currency   3551 non-null   object
 9   sources        902 non-null    object
 10  customizable   573 non-null    object
 11  recipe         588 non-null    float64
 12  recipe_id      588 non-null    object
 13  games_id       4565 non-null   object
 14  id_full        3037 non-null   object
 15  image_url      3037 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 570.8+ KB

In [14]:
villagerDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB